@import "../../scss/variables", "../../scss/mixins";

.content {
  padding-top: 4.8rem;

  @include mq("tablet") {
    padding-top: 0;
  }
  &__body {
    display: flex;
    column-gap: 16.5rem;

    @include mq("tablet") {
      flex-direction: column;
    }
  }

  .content-text {
    max-width: 59.2rem;
  }

  &__victory {
    padding-top: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
