@import "./mixins";

.slide-in-right {
  -webkit-animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @include keyframes(slide-in-right) {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.slide-in-right.reverse {
  -webkit-animation: slide-in-right-reverse 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
  animation: slide-in-right-reverse 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    reverse both;

  @include keyframes(slide-in-right-reverse) {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @include keyframes(fade-in-fwd) {
    0% {
      -webkit-transform: translateZ(-80px);
      transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
}

@include keyframes(tab-animation) {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(100%), scaleY(0.2rem);
    transform: scaleX(100%), scaleY(0.2rem);
    opacity: 1;
  }
}

.error-text-animation {
  animation: error-text-animation 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @include keyframes(error-text-animation) {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
